.projects {
  width: 95%;
  margin: auto;
  margin-top: 20px;

  .projectsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .projectsBx {
      margin-top: 20px;
      text-align: center;
      background-color: gray;
      border-radius: 5px;
      border-bottom: 10px solid greenyellow;
      cursor: pointer;

      .img {
        width: 350px;
      }

      h2 {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      div {
        margin-bottom: 5px;
      }
    }

    .projectsBx:hover {
      background-color: greenyellow;
      color: black;
      border-color: gray;

      animation: neon 2s alternate infinite;
    }
  }
}

@media screen and (max-width: 350px) {
  .projects {

    .projectsContainer {

      .projectsBx {

        .img {
          width: 300px;
        }
      }
    }
  }
}
