.perfil {
  margin: auto;
  margin-top: 70px;
  width: 95%;
  overflow: hidden;
  position: relative;

  .perfilImage {
    border-radius: 500px;
    width: 500px;
    float: left;
  }

  .quemsou {
    width: 46%;
    float: left;
    margin-left: 30px;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgb(85, 83, 83);
  }

  .redes {
    margin-left: 10px;
    font-size: 40px;
    padding: 2px;
  }

  .redes:hover {
    background-color: rgb(85, 83, 83);
    border-radius: 5px;
  }


  .subTitleInicio {
    font-size: 26pt;
  }

  .redesInicio {
    text-align: center;
  }

  .scroll {
    color: white;
  }

  .scrollContainer {
    width: 140px;
    margin: auto;

    svg {
      float: left;
      font-size: 40px;
    }

    .spanInicio {
      margin-top: 10px;
      float: right;
      text-shadow: 2px 2px 2px black;
    }
  }
}
