.projectsBx {
  margin-top: 20px;
  text-align: center;
  background-color: gray;
  width: 350px;
  border-radius: 5px;
  border-bottom: 10px solid greenyellow;
  cursor: pointer;

  .img {
    width: 350px;
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  div {
    margin-bottom: 5px;
  }

  &:hover {
    background-color: greenyellow;
    color: black;
    border-color: gray;

    animation: neon 2s alternate infinite;
  }
}

@media screen and (max-width: 350px) {
  .projectsBx {
    .img {
      width: 300px;
    }
  }
}
