.about {
  width: 95%;
  max-width: 1100px;
  margin: 50px auto;

  .aboutContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .descriptionAbout {
      margin-top: 20px;
      flex: 1.5;
      width: 60%;
    }

    .descriptionImage {
      margin-top: 20px;
      flex: 1;
      border-radius: 5px;
    }

    .imgAbout {
      border-radius: 5px;
    }
  }
}


@media screen and (max-width: 500px) {
  .about {

    .aboutContainer {

      .descriptionAbout {
        width: 100%;
      }

      .descriptionImage {
        text-align: center;
      }

      .imgAbout {
        width: 90%;
      }
    }
  }
}
