.about {
  width: 95%;
  text-align: justify;
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 2rem;

  .aboutContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .descriptionAbout {
      margin-top: 20px;
      flex: 1.5;
      min-width: 300px;
    }

    .descriptionImage {
      margin-top: 20px;
      flex: 1;
      border-radius: 5px;
      min-width: 300px;

      .imgAbout {
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}
