@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 greenyellow);
  }
  to {
    filter: drop-shadow(0 0 10px greenyellow);
  }
}

.contact {
  width: 95%;
  margin: auto;
  margin-top: 20px;

  .contactContainer {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;

    svg {
      font-size: 50px;
      margin-top: 20px;
    }

    a {
      color: greenyellow;
    }

    a:hover {
      animation: neon 1s alternate infinite ease-in-out;
    }
  }
}


@media screen and (max-width: 500px) {
  .contact {

    .contactContainer {
      justify-content: flex-start;
    }
  }
}
