* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

ul {
  list-style: none;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.header {
  background-color: rgb(85, 83, 83);
  overflow: auto;
  z-index: 2;
}

.home {
  float: left;
}

.menu {
  float: right;
}

.menu-list {
  color: white;
  float: left;
  padding: 20px;
  font-size: 15pt;
  margin-left: 1px;
  cursor: pointer;
}

.menu-list:hover {
  background-color: #4a6eb5;
}

.paragrafo {
  font-size: 14pt;
}

.clear {
  clear: left;
}

.habilidades {
  width: 95%;
  margin: auto;
  margin-top: 50px;
}

.description-habilidade {
  margin-top: 20px;
  float: left;
  width: 25%;
}

.skill {
  padding: 15px;
}

.skill:hover {
  background-color: rgb(85, 83, 83);
}

.skill-list {
  font-size: 14pt;
}

.subTitleInicio {
  font-size: 26pt;
}

.description-hab-images {
  text-align: center;
  float: left;
  margin-left: 100px;
  width: 320px;
  background-color: rgb(85, 83, 83);
}

.image-description {
  float: left;
  margin-left: 40px;
  width: 35%;
  padding: 20px;
  text-align: justify;
  background-color: rgb(85, 83, 83);
}

.projetos {
  width: 95%;
  height: 320px;
  margin: auto;
  margin-top: 50px;
  overflow: auto;
}

.description-projetos {
  margin-top: 20px;
  float: left;
  width: 30%;
  text-align: justify;
}

.project-list {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  height: 225px;
  overflow: auto;
}

.lingBox {
  display: inline_block;
}

.rede {
  padding: 2px;
}

.rede:hover {
  background-color: rgb(85, 83, 83);
}

.description-project {
  text-align: justify;
  float: left;
  margin-left: 50px;
  width: 400px;
  padding: 20px;
  background-color: rgb(85, 83, 83);
}

a {
  text-decoration: none;
  color: white;
}

.projects-imgs {
  float: left;
}

.projects {
  font-size: 35px;
}
