* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

ul {
  list-style: none;
}

body {
  background-color: black;
  color: greenyellow;
}

.header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  overflow: auto;
  height: 70px;
  z-index: 2;
}

.home {
  margin-left: 5px;
}

.menu {
  margin-right: 5px;
}

.menu-list {
  color: greenyellow;
  float: left;
  padding: 20px;
  font-size: 15pt;
  margin-left: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu-list:hover {
  background-color: greenyellow;
  color: black;
  transform: scale(1.1);
}

.inputCheck {
  display: none;
}

.container-hamburguer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.hamburguer {
  content: url(./main/Assets/Images/menu-regular-60.png);
}

#hamburguerid:checked ~ label .hamburguer {
  position: absolute;
  background-color: black;
  content: url(./main/Assets/Images/x-regular-60.png);
  box-shadow: 0 0 0 100vw black, 0 0 0 100vh black;
  z-index: 5;
}

.title-hamburguer {
  display: none;
  color: greenyellow;
  position: absolute;
  z-index: 6;
  top: 5%;
  left: 6%;
}

.menu-hamburguer {
  display: none;
  list-style-type: none;
  color: greenyellow;
  font-size: 25px;
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 6%;
  transform: translate(-6%, -50%);
  font-family: 'Roboto', sans-serif;
}

.list-hamburguer {
  padding: 10px;
}

.paragraph {
  font-size: 14pt;
}

.subTitle {
  font-size: 26pt;
}

a {
  text-decoration: none;
  color: greenyellow;
}


@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  } to  {
    border-right-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  } to {
    width: 586px;
  }
}

.typing-animation {
  animation: blinkCursor 500ms steps(60) infinite normal, typing 5s steps(60) 1s normal;
}

.title {
  font-size: 45px;
  display: inline-block;
  filter: drop-shadow(0 0 10px greenyellow);
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 500px) {

  .header {
    justify-content: flex-end;
  }

  .title {
    font-size: 25px;
  }

  .home {
    display: none;
  }

  .menu {
    display: none;
  }

  .container-hamburguer {
      display: block;
  }

  #hamburguerid:checked ~ .title-hamburguer {
      display: inline;
  }

  #hamburguerid:checked ~ .menu-hamburguer {
      display: block;
  }
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 20px;
  }

  .paragraph {
    font-size: 12pt;
  }
}
