.footer {
    text-align: center;
    padding: 30px 2rem;
    background-color: rgb(85, 83, 83);
}

.reserv {
    font-size: 20px;
}

.copyright {
  font-size: 20px;
}

  .copyright:hover {
    text-decoration: underline;
    color: black;
  }
